# System
.DS_Store
.AppleDouble
.LSOverride

# Gradle
.gradle/
build/
*.main.kts

# IntelliJ / Android Studio
.idea/
*.iml
*.iws
.project
.settings/
.classpath

# Android
local.properties
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aar
*.bundle

# Logs
*.log

# Models
*.mlpackage/
*.pt
*.tflite
*.npy

# Python
venv/
__pycache__/
*.pyc
.env
.ipynb_checkpoints/

# Media
*.mp4
*.mov
*.png
*.jpg
*.jpeg

# Artifacts
.gemini/
